
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li ><a href="{:url('user.detail/basic')}" >基本资料</a></li>
            <li class="active"><a href="{:url('user.detail/extend')}">服务项目</a></li>
            <li ><a href="#" >到店客情</a></li>
            <li ><a href="#" >会员信息</a></li>
            </li>
        </ul>
    </div>

    <div class="panel-body">
        {$test}
    </div>
</div>
